<div id="<%= dom_id staff %>">
  <p>
    <strong>Name:</strong>
    <%= staff.name %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= staff.Contact %>
  </p>

  <p>
    <strong>Work:</strong>
    <%= staff.Work_id %>
  </p>

</div>
