<div id="<%= dom_id patient %>">
  <p>
    <strong>Name:</strong>
    <%= patient.name %>
  </p>

  <p>
    <strong>Illness:</strong>
    <%= patient.Illness %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= patient.Contact %>
  </p>

</div>
