<div id="<%= dom_id doctor %>">
  <p>
    <strong>Name:</strong>
    <%= doctor.name %>
  </p>

  <p>
    <strong>Specialization:</strong>
    <%= doctor.Specialization %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= doctor.Contact %>
  </p>

</div>
